@import "../../../utils/constants.scss";

.top-panel__menu-button {
  font-size: 25px;
  @extend %link-decoration;
  position: relative;
  margin: 0;
  padding: 0;
}

.top-panel__menu-button:hover {
  @extend %link-decoration-hover;
}
