@import "../../utils/constants.scss";

.card {
  @extend %flex-column;
  border: 1px solid #dfe3e9;
  box-shadow: 0 -4px #3a9eff;
  border-radius: 8px;
  min-width: 22%;
  overflow: hidden;
  max-width: 600px;
}

@media screen and (max-width: 950px) {
  .card {
    margin: 0 auto;
  }
}
