// scss
%link-decoration-hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.7s ease;
}

%link-decoration {
  opacity: 1;
  transition: opacity 0.7s ease;
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%menu-button {
  padding: 0;
  border: none;
  background: none;
  color: grey;
  display: flex;
}

%card-footer-gradient {
  background-image: linear-gradient(180deg, #eff3f6 0%, #dfe3e9 100%);
}

$top-menu-color: #273142;
$vertical-menu-color: #354052;
$main-blue: #0085f0;

%button-style_off {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

%menu-button-size {
  height: 56px;
  width: 56px;
  background-repeat: no-repeat;
  background-position: center;
}
