@import "../../utils/constants.scss";

.header {
  display: flex;
  flex-direction: row;
  background-color: $top-menu-color;
  min-height: 56px;
  align-content: center;
  color: #fff;
  flex-wrap: wrap;
}
